<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Login Signup Form</title>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/public/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/public/dist/css/adminlte.min.css">

  <!-- <link rel="stylesheet" href="/public/css/nameedit.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/public/css/login-signup.css" /> -->
</head>

<body class="hold-transition register-page">
  <div class="" style="width: 450px;">
    <div class="container b-container" id="b-container">
      <div class="header_logo">
        <div class="card-body login-card-body">
          <form class="form" id="b-form" method="" action="">
            <div class="form__icons mb-3 text-center ">
              <h2 class="form_title title">Sign up to </h2>
              <% if(user?.provider=='google' ){ %>
                <img style="width: 50px; height: 50px;" src="https://img.icons8.com/color/36/000000/google-logo.png">
                <% }else{ %>
                  <img style="width: 50px; height: 50px;" src="https://img.icons8.com/color/36/000000/microsoft.png">
                  <% } %>
            </div>
            <span class="form__span" style="color: black; font-size: 18px; font-weight: 500;">Continues with: <span style="color: rgb(112, 111, 111);">
                <%= user?.email || '' %>
              </span></span>
            <div class="formcontrol mb-3 ">
              <label style="color: black; opacity:0.8; font-weight: 500;">Full Name* </label>
              <input class="form__input form-control" id="usr" type="text" required="required"
                value="<%= user?.name || '' %>" placeholder="Username" />
              <span style="color: red;" id="error"></span>
            </div>
            <div class="form-group" style="width: 100%;">
              <div class="form_btn">
                <button class="btn btn-danger" id="submit" type="submit" style="cursor: pointer;">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>


</html>
<script>
  try {
    let getElement = document.getElementById('submit')
    let InputTag = document.getElementById('usr')
    let ErroDiv = document.getElementById('error')
    InputTag.addEventListener('keyup', (e) => {
      let valueNew = e.target.value
      if (!valueNew) {
        ErroDiv.innerText = 'The username is required'
      } else {
        ErroDiv.innerText = ''
      }
    })
    getElement.addEventListener('click', (e) => {
      e.preventDefault()
      let getValue = InputTag.value;
      let searchparamObject = new URLSearchParams(location.search);
      let code = searchparamObject.get('code')
      if (searchparamObject.size == 1 && !!code) {
        fetch('/nameadd', {
          method: "post",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ code: code, username: getValue })
        }).then(async (resJson) => await resJson.json())
          .then((data) => {
            if (data.message) {
              location.href = '/login'
            } else {
              data.error && (ErroDiv.innerText = data.error)
            }
          }).catch((err) => {
            location.href = '/login'
          })
      }
    })
  } catch (error) {
    location.href = '/login'
  }
</script>
</body>

</html>